/*{
    border: solid red 2px;
}*/


footer p{
    text-align: center;
    color: #F9FAF8;
}

.inspiring-quote{
    background-color: #E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.nav_links{
    color: #F9FAF8;
}

header,
.welcome-side,
.image,
footer {
    background-color: #1F2937;
}

.button{
    background-color: #3882F6;
    color: white;
    width: 100px;
    border-radius: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    gap: 100px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    cursor: pointer ;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 30px;
}

.text-and-button{
    margin-top: -50px;
    display: grid;
    padding: 25px;
}

.welcome-side{
    display: flex;
    padding: 100px;
    column-gap: 50px;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -20px;
}

.image{
    width: 500px;
    height: auto;
}

.random-text, .quote-text{
    text-align: center;
}

.author{
    text-align: right;
    margin-right: 600px;
    margin-top: -30px;
}

.some-random-columns{
    display: flex;
    justify-content: space-around;
}

#first-image, #second-image, #third-image, #fourth-image{
    border: 5px solid blue;
    border-radius: 10%;
}

